.center_txt{
	text-align: center;

}
.center{
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 50%;
	height: 700px;

}
.txt_pad{
	padding-left: 100px;
	padding-right: 100px;
}
body{
	background-color: rgb(236,206,213);
}
